<div class="col-xs-6">
		<%= render "components/update_form" %> <br><br>
		<% for @p in @updates %>
		<div class="panel panel-default post-panel">
  			<div class="panel-body row">
  				<div class="col-sm-1">
  					 avatar
  				</div>
  				<div class="col-sm-11">
  					<p class ="post-title"> <span class = "post-user"><%= User.find(@p.user_id).username %> </span>- <span class="post-creation"><%= @p.created_at.to_formatted_s(:short) %></span></p>
  					 <p class ="post-content"><%= @p.content %></p>
  				</div>
  				<div class="col-sm-12">
  					 <p class="post-links">
  					 <span class="glyphicon glyphicon-thumbs-up g-links" aria-hidden = "true"></span>
  					<span class="glyphicon glyphicon-thumbs-down g-links" aria-hidden = "true"></span>
  						 <span class="glyphicon glyphicon-share-alt g-links" aria-hidden = "true"></span>
  						 <span class="glyphicon glyphicon-star g-links" aria-hidden = "true"></span></p>
  				</div>
				
			</div>
		</div>
		<% end %>