<div class = "row">
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>stats/options</p>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>feed</p>
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>about/options</p>
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>communities/ menus</p>
			</div>
		</div>
	</div>
	
  <div class="col-xs-3 col-xs-offset-6">
  	<div class="panel panel-default">
  			<div class="panel-body">
  				<p>top activities</p>
  			</div>
  		</div>
  	</div>
  
</div>