<div class ="row">
	<div class ="col-xs-12">
		<div class = "jumbotron">
			<p> <%= @username %> </P>
	</div>
	
</div>

<div class = "row">
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>stats/options</p>
			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>communities/ menus</p>
			</div>
		</div>
	</div>
	<%= render "components/update_feed" %> 
	</div>
	
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>about/options</p>
			</div>
		</div>
			<div class="panel panel-default">
  			<div class="panel-body">
  				<p>top activities</p>
  			</div>
  		</div>
	</div>
