<div class ="row">
	<div class ="col-xs-12">
		<div class = "jumbotron">
			<p> <%= @username %> </P>
	</div>
	
</div>

<div class = "row">
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>stats/options</p>
			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>communities/ menus</p>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<%= render('components/update_form') %>
	
		<% for @p in @updates %>
		<div class="panel panel-default">
  			<div class="panel-body">
				<p><%= @p.content %></p>
			</div>
		</div>
		<% end %>
	</div>
	
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>about/options</p>
			</div>
		</div>
			<div class="panel panel-default">
  			<div class="panel-body">
  				<p>top activities</p>
  			</div>
  		</div>
	</div>
