<% if !user_signed_in? %>
<% @title = "Home Page" %>
<style type="text/css">

h1,
h2,
h3,
h4,
h5,
h6 {
  
  font-weight: 200;
  letter-spacing: 1px;
}
h1{
color: white;
font-weight: bold;
}
h2{
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 0px;
  text-align: center;
}
.container-index{
    margin-right: 15%;
    margin-left: 15%;

}
.header-content {
  text-align: left;
  padding: 80px 0 50px;
  position: relative;
}
.header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
.header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 600%;
}
.footer-links{
text-align: center;
color: white;
margin-top:5%;
}
.small-talk{
    font-size: 100%;
    font-weight: bold;
    color: white;
}
.log-in{
    width: 300px;
    height: 230px;
}
.sign-up{
    width: 300px;
    height: 200px;
}
.centerText{
  text-align: center;
}

</style>
<div class="container-index">
  <div class="row">
    
    <div class="col-sm-4">
     <img src="/reho.jpg" height="50px" width="50px" >
    </div>
    <div class="col-sm-4">
     <img src="/Rectangler.jpg" height="50px" width="50px" >
    </div>
    <div class="col-sm-4">
     <img src="/Rectangler.jpg" height="100%x" width="100%" >
    </div>
  </div>
     <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Connect.<p>Network.<p>Grow.</h1>
                            <p class="small-talk">. . . value driven friendships</p>
                                                   </div>
                    </div>
      
                </div>
<div class="col-sm-5">
  <div class="panel panel-default log-in">
<%= render "devise/sessions/new" %>
</div>
<div class="panel panel-default sign-up">
  <center>
  <img src="/Rectangler.jpg" height="50px" width="50px" >
  
  <h2><b>Join the REHO Community<p></b>Reho is a network of connected hubs and communities of millions of people
just like you, looking to network, grow & helping each other succeed.</br>
Join them; it takes less than a minute:</h2>
<span class="btn btn-warning">
<%= link_to('Sign Up', new_user_registration_path) %>
</span>
</center>
</div>
</div>
</div>

</div>
</div>
<div class="col-sm-12">
<p class= "footer-links"> &copy; REHO 2016</p> </div>
<% elsif !current_user.interest.present? %>
  <script type="text/javascript">document.location ="/user_steps/"</script> 
 <% else %>
<script type="text/javascript">document.location ="/home"</script>
<% end %>