<% if !user_signed_in? %>
<% @title = "Home Page" %>
<style type="text/css">

.small-talk{
    font-size: 2.5em;
    color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  
  font-weight: 200;
  letter-spacing: 1px;
}
.white {
    color: white;
}
.black {
    color: black;
}
h1{
color: white;
font-weight: bold;
}
h2{
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 0px;
  text-align: center;
}
.container-index{
    margin-right: 15%;
    margin-left: 15%;

}
.header-content {
  text-align: left;
  padding: 80px 0 50px;
  position: relative;
}
.header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
.header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 600%;
}
.footer-links{
text-align: center;
color: white;
margin-top:5%;
}

 
@media screen and (max-width: 568px) {
   .small-talk{
    font-size: 100%;
    font-size: 1.0em;
    color: white;
    
}
}

.log-in{
    width: 300px;
    height: 230px;
}
.sign-up{
    width: 300px;
    height: 200px;
}
.centerText{
  text-align: center;
}

</style>
<div class="container-fluid">
  <div class="row">
    <center>
   
   
    <div class="col-md-4 col-md-push-8">
     <img src="/Rectangler.jpg" width="50%"  >
    </div>
     <div class="col-md-4">
    
    </div>
     <div class="col-md-4 col-md-pull-8">
     <img src="/reho.png" width="100%"  >
    </div>
  </div></center>
  
   
     <div class="row">
                <div class="col-sm-8 col-md-offset-2">
                    <div class="header-content">
                        <span class="text-justify">
                            <p class="small-talk"><span class="white">Gain Insights</span> <span class="black">Share Opinions</span> <span class="white">Tell your Story</span>
<span class="black">Learn </span><span class="white">Network</span> <span class="black"> Project Yourself</span><span class="white"> Break Limits</span>
<span class="black">Add Value</span> <span class="white">Change the Narratives</span> <span class="black">Engage</span>
<span class="white">Innovate</span> <span class="black">Succeed </span><span class="white">Inform </span><span class="black">Educate</span> <span class="white">Promote</span>
<span class="black">Create</span> <span class="white">Analyse </span><span class="black">Comment</span> <span class="white">Inquiries</span></p>
                                                   </div></span>
                    </div>
      
               

<div class="col-xs-6">
  <div class="panel panel-default">
  <div class="panel-heading">New User</div>
  <div class="panel-body"><%= link_to('Create Hub', new_user_registration_path) %></div>
</div>
</div>
<div class="col-xs-6">
  <div class="panel panel-default">
<div class="panel-heading">Existing User</div>
  <div class="panel-body"><%= link_to('Sign In', new_user_session_path) %></div>
</div>
</div>
<div class="col-xs-6">
        <%= link_to "Sign In", new_user_session_path, :class => "btn btn-success" %>
      </div>
<div class="col-xs-6">
        <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success" %>
      </div>
    </div>

 </div>

</div>
</div>
<div class="col-sm-12">
<p class= "footer-links"> &copy; REHO 2017</p> </div>
<% elsif !current_user.interest.present? %>
  <script type="text/javascript">document.location ="/user_steps/"</script> 
 <% else %>
<script type="text/javascript">document.location ="/home"</script>
<% end %>