<div class="row">
<div class="col-md-7">
	<div class="panel panel-default">
<% @interestgroups.each do |post| %>
<%= link_to post.post,post %>
<br>
<% end %>
</div>
</div>
<div class="col-md-4">
	djdv
</div>
</div>
