/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require commontator/application
 *
 */

@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap-sprockets";
@import "bootstrap";
body {
	background-color: rgba(204,204,204,1.0);
	font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	padding-bottom: 70px;
	

}


@font-face {
font-family: 'Muli';
src:font-url('muli.woff2') format('woff2');
font-weight: normal;
font-style: normal;
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



/* General styles */

body {
	background-color: #fff;
	font-family: 'Playfair Display', serif;
	padding-bottom: 70px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Muli', sans-serif;
	font-weight: 300;	
}

.btn-custom {
	background-color: #fff;
	color: #0a8fd5;
	font-family: 'Muli', sans-serif; 
	font-weight: 300;
	border-radius: 8px;
	padding: 10px 20px;
	&:hover {
		color: #383838;
		transition: 0.5s;
		background-color: #fff;
		text-decoration: none;
	}
}
.btn-custom1 {
	background-color: #000;
	color: #0a8fd5;
	font-family: 'Muli', sans-serif; 
	font-weight: 300;
	border-radius: 8px;
	padding: 10px 20px;
	&:hover {
		color: #383838;
		transition: 0.5s;
		background-color: #fff;
		text-decoration: none;
	}
}
.btn:hover {
	transition: 0.5s;
	color: #383838;
	background-color: #fff;
}


/* Navbar styles */

.navbar {
	font-family: 'Muli', sans-serif;
	text-transform: uppercase;
}

.navbar-default {

	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fff;

	.navbar-nav > li > a {
		color: #fff;
	}

	.navbar-link {
		color: #222;
	}

	.navbar-brand {
		color: #222;
		letter-spacing: 1.1px;
	}

}


/* Links styles */

.links {
	margin-top: 20px;
	.btn-default {
		color: #0a8fd5;
	}
}


/* Message styles */

.message {
	box-sizing: border-box;
	background-color: #383838;
	margin-bottom: 25px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 1.4em 1.4em;
	height: 150px;
	border-bottom: 4px solid #0a8fd5;

	.message-title {
		font-size: 1.5em;
		font-family: 'Muli', sans-serif;
		font-weight: 300;
		margin-top: 0;
		color: white;
		margin-bottom: 25px;
	}
	.p-title {
		font-size: 1.2em;
		font-family: 'Muli', sans-serif;
		font-weight: 300;
		margin-top: 0;
		color: white;
		margin-bottom: 25px;
	}

	.btn-custom {
		margin-top: 20px;
	}

}

.message:nth-child(4n) {
	clear: left;
}

/* Message show-page styles */

.message-show {
	box-sizing: border-box;
	background-color: #383838;
	padding: 2.0em 1.5em;
	border-bottom: 4px solid #0a8fd5;
	color: #fff;
	font-family: 'Muli', sans-serif;
	font-weight: 300;

	h2 {
		margin-top: 0;
	}

	.message-desc {
		font-size: 1.1em;
		line-height: 1.75;
		margin-bottom: 50px;
	}

	.message-posted-by {
		color: #eee;
		font-size: 0.9em;
	}

	.reply-to-msg {
		margin-top: 50px;
	}

}


/* Comment styles */

.comment {
	border-bottom: 1px solid #fff;
	padding-top: 15px;
	padding-bottom: 15px;

	.comment-content {
		font-size: 1.25em;
	}	

	.comment-posted-by {
		color: #eee;
		font-size: 0.8em;
	}

	.links {
		margin-top: 15px;
		a {
			color: #0a8fd5;
			margin-right: 15px;
		}
	}
}
#notice_wrapper{
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 999;
      background-color: rgba(135,216,211,0.85);
    .notice, .alert{
      padding: 2.5rem 0;
      text-align: center;
      margin: 0;
      font-size: 1.25rem;
      font-weight: 700;
      color: #ffffff;
      letter-spacing: 1px;
    }
    }
.navbar {
	background-color: white;
}
.navbar-brand{
	position: absolute;
	left: 50%;
	margin-right: 25px; 
	display: block;
}
.post-panel{
	margin-top: -21px;
	margin-bottom: -21px;
}
.post-content{
text-align: left;
margin-left: 15px;
}
.post-links{
	text-align: left;

}
.post-title{
	text-align: left;
margin-left: 15px;
}
.post-user{
	color: black;
	font-weight: bold;

}
.post-creation{
	opacity: 0.65;
}
.g-links{
	opacity: 0.7;
	font-size: 100%;
	margin-right: 30px;
}
.post-form-panel{
	margin-bottom: -21px;
}
.panel-image img.panel-image-preview{
	width: 100%;
	border-radius: 4px 4px 0px 0px;
}
.panel-heading ~ .panel-image img.panel-image-preview{
	border-radius: 0px;
}
.panel-heading ~ .panel-body, .panel-image.hide-panel ~ .panel-body{
overflow: hidden;
}
.panel-image ~ .panel-footer a{
	padding: 0px 10px;
	font-size: 1.3em;
	color: rgb(100,100,100);
}
.panel-image.hide-panel-body ~ .panel-body{
	height: 0px;
	padding: 0px;
}
.home-avatar{
	border-radius: 10px 10px 10px 10px;
	margin-top: -50%;
	text-align: center;
}
.profile-banner{

}

.info-bar{
	background-color: #ddd;
border: 1px solid #aaa;
font-size: 12px;
margin-bottom: 10px;
	background-color: #000;
	font: #fff;
	font-size: 16px;
	font-weight: 200;
	
}
.info-bar h4{
	margin-top: 0px;
padding: 6px;
background-color: #000;
font-size: 13px;
color: maroon;
font-weight:bold;
}
.info-bar .edit_link {
float: right;
}
.navbar-default {
    background-color: #191919;
    border-color: #ffffff;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
textarea {
    resize: none;
}


.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;max-height:100%;}
.fileupload .btn{vertical-align:middle;}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
.control-group.success .fileupload .thumbnail{border-color:#468847;}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="interest_"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}
.navbar {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	.navbar-brand {
		a {
			color: #BD1E23;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}
	}
}